<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>List MVVM</string>
	<key>Description</key>
	<string>Generates a class which implements Bindable protocol</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFiles</key>
	<array>
		<string>___VARIABLE_modelName___.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>Model Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Swift</string>
			<key>Description</key>
			<string>The language of template</string>
			<key>Identifier</key>
			<string>templateLanguage</string>
			<key>Name</key>
			<string>Language:</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>Template which implements Bindable protocol</string>
</dict>
</plist>
