<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sort Order</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>List MVVM</string>
	<key>Description</key>
	<string>Generates a TableView and View Model all hooked up to follow the MVVM model</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFiles</key>
	<array>
		<string>___VARIABLE_moduleName___TableViewController.swift</string>
		<string>___VARIABLE_moduleName___ViewModel.swift</string>
		<string>___VARIABLE_moduleName___ViewController.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Module Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Swift</string>
			<key>Description</key>
			<string>The language of template</string>
			<key>Identifier</key>
			<string>templateLanguage</string>
			<key>Name</key>
			<string>Language:</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Choose whether or not a delegate skeleton is included.</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>isEmbed</string>
			<key>Name</key>
			<string>It&apos;s a UITableView in a UIViewController.</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Choose whether or not a delegate skeleton is included.</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>addHeaderFooter</string>
			<key>Name</key>
			<string>I&apos;d like to use section headers/footers.</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>Templates for Swift using MVVM Model</string>
</dict>
</plist>
