<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string></string>
	<key>Description</key>
	<string>Generates required files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFiles</key>
	<array>
		<string>Bindable.swift</string>
		<string>ReactiveBindable.swift</string>
		<string>TitlePresentable.swift</string>
		<string>TableViewSection.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string></string>
			<key>Identifier</key>
			<string>templateFileDescription</string>
			<key>Name</key>
			<string>This template will add these files to your project:</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>protocol</string>
			<key>Description</key>
			<string></string>
			<key>Identifier</key>
			<string>bindableFileName</string>
			<key>Name</key>
			<string>Bindable.swift</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>protocol</string>
			<key>Description</key>
			<string></string>
			<key>Identifier</key>
			<string>reactiveBindableFileName</string>
			<key>Name</key>
			<string>ReactiveBindable.swift</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>extension</string>
			<key>Description</key>
			<string></string>
			<key>Identifier</key>
			<string>tableViewSectionFileName</string>
			<key>Name</key>
			<string>TableViewSection.swift</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>protocol</string>
			<key>Description</key>
			<string></string>
			<key>Identifier</key>
			<string>titlePresentableFileName</string>
			<key>Name</key>
			<string>TitlePresentable.swift</string>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>This template will add some required files to your project.</string>
</dict>
</plist>
